@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fonte-primaria: 'Audiowide', serif;
    --fonte-secundaria: "Zing Rust Demo", serif;
    --fonte-terciaria: "Josefin Slab", serif;
    --fonte-quaternária: "Roboto", sans-serif;
    --fonte-input: "Source Sans Pro", sans-serif;
}

body {
    overflow: auto;
}

.containerAll {
    width: 100%;
    overflow: auto;
}

.msgValid {
    color: rgb(0, 255, 13);
    padding: .5em;
    background-color: rgba(0, 255, 13, .3);
    border-radius: .3em;
    border: rgb(0, 255, 13) 1px solid;
    margin-top: .5em;
    font-size: 18px;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.msgInvalid {
    color: red;
    padding: .5em;
    background-color: rgba(255, 0, 0, .3);
    border-radius: .3em;
    border: red 1px solid;
    margin-top: .5em;
    font-size: 18px;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.containerPopup {
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: none;
}

.btnup {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    z-index: 99;
    bottom: 5%;
    right: 5%;
    background: #3d3b3b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #54FAD0 2px solid;
}

.btnup i {
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.btnup:hover i {
    -moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#navbar {
    position: fixed;
    z-index: 99;
    top: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    height: 10vh;
    border-bottom: 1px solid #54fAD0;
}

.nav-list {
    list-style: none;
    display: flex;
    z-index: 1;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.navl {
    list-style: none;
    display: flex;
}

.navl li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-family: var(--fonte-primaria);
    font-size: 1.3em;
}

.mobilem {
    display: none;
    cursor: pointer;
    z-index: 99;
}

.mobilem div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
    z-index: 99;
}

.navl.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobilem.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobilem.active .line2 {
    opacity: 0;
}

.mobilem.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.background-wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.background-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
}

.container {
    width: 100%;
    display: flex;
    height: 90vh;
    position: absolute;
    top: 10vh;
}

.banner {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.registre-se {
    width: 50%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
    justify-content: center;
}

.bannerwrapper {
    width: 65%;
}

.bannerwrapper img {
    border-radius: 0.5rem;
    border: #54FAD0 solid 1px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
}

@keyframes moveBanner {
    0% {
      transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
      transform: translateY(0) rotateY(0);
      opacity: 1;
    }
}

.title {
    width: 100%;
    height: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.formCadastro {
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
}

.formCadastro form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.title h1 {
    font-family: var(--fonte-primaria);
    font-size: 4em;
    color: #ffffff;
    text-align: center;
}

.input {
    position: relative;
    margin-top: 1rem;
    width: 100%;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: rgba(0, 0, 0, 0.5)!important;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: var(--fonte-input);
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3rem;
    line-height: 3;
    overflow: hidden;
    margin-top: 2rem;
    border: 2px solid #54FAD0;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

.select:hover::after {
    color: #23b499;
}

.campo {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 1rem;
    font-family: var(--fonte-input);
    font-weight: bold;
    border: 2px solid #54FAD0;
    height: 3rem;
    margin-top: 1rem;
    outline: none;
    color: #fff;
}

.label-campo {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-left: .5em;
    font-family: var(--fonte-primaria);
    color: #fff;
}

.campo:focus ~ label,
.campo:valid ~ label {
    top: 0;
    font-size: 0.7rem;
    color: white;
}

.campo:focus,
.campo:valid {
    border-bottom: 1px solid;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.submitBtn {
    align-self: center;
    background-color: #3d3b3b;
    border: 1px solid #54FAD0;
    transition: background-color .5s;
    font-family: var(--fonte-primaria);
    letter-spacing: .1em;
}

.submitBtn:hover {
    background-color: #7c8485;
    border: 1px solid #54FAD0;
    color: #fff;
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #3d3b3b;
    position: relative;
}

.section-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20%;
}

.section-header h1 {
    font-family: var(--fonte-primaria);
    font-size: 4em;
    text-shadow: 3px 3px black;
    color: #54FAD0;
    text-align: center;
}

.vantagens {
    height: 80%;
    display: flex;
    align-items: center;
}

.vantagens-grid {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
}

.topico {
    text-align: justify;
    font-family: var(--fonte-terciaria);
    color: #fff;
    font-size: 1.2rem;
}

.topico-header {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.topico-header i {
    margin-right: 10px;
}

.topico:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.topico:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.topico:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.topico:nth-child(4) {
    grid-column: 13 / 16;
    grid-row: 1 / 3;
}

.topico:nth-child(5) {
    grid-column: 14 / 17;
    grid-row: 3 / 5;
}

.topico:nth-child(6) {
    grid-column: 13 / 16;
    grid-row: 5 / -1;
}

.vantagens-img-wrapper {
    grid-column: 8 / 12;
    grid-row: 2 / 6;
    width: 80%;
    height: 80%;
}

.vantagens-img-wrapper img {
    object-fit: cover;
    height: 100%;
}

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #7c8485;
}

.depoimento {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 20%;
}

.card-image-wrapper {
    width: 100%;
    height: 10rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.card-info {
    width: 100%;
    height: 22rem;
    background: linear-gradient(to top, #000000, #4e4e4e);
    border: 2px solid #54FAD0;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    font-family: var(--fonte-input);
}

.CardName {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.CardName h1 {
    color: #fff;
    font-size: 1.8rem;
}

.CardText {
    width: 100%;
    height: 80%;
    display: flex;
}

.CardText p {
    color: #fff;
    font-size: 1.3rem;
    word-break: normal;
}

.popupLogin {
    width: 30em;
    height: auto;
    max-height: 27em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    border: solid 2px #54FAD0;
    z-index: 99;
}

.headerPopup {
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
}

.headerPopup a {
    color: #fff;
}

.divFormPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
}

.divFormPopup form {
    display: flex;
    flex-direction: column;
}

span.error {
    display: flex;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

span.error.active {
    border: 1px solid red;
    padding: 0.2em;
    margin-top: 0.4em;
    font-family: var(--fonte-quaternária);
    font-weight: bold;
    color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.inputRadio {
    display: flex;
    justify-content: space-between;
}

.label-Radio {
    color: #fff;
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}

.btnPopup {
    background: rgba(0, 0, 0, 0.5)!important;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3b3b;
}

footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.content-1 {
    width: 33.33333%;
    display: flex;
    align-items: center;
}

.logo-wrapper {
    padding: 0.5px;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
}

.logo-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content-1 span {
    color: #cacfcf;
}

.content-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-2 i {
    color: #fff;
    font-size: 1.5em;
}

.content-2 li {
    margin-right: .8rem;
}

@media (max-width: 1320px) {
    .vantagens-grid {
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(7, 6rem);
    }
    .topico:nth-child(1) {
        grid-column: 3 / 7;
        grid-row: 2 / 3;
    }
    
    .topico:nth-child(2) {
        grid-column: 8 / 12;
        grid-row: 2 / 3;
    }
    
    .topico:nth-child(3) {
        grid-column: 13 / 17;
        grid-row: 2 / 3;
    }
    
    .topico:nth-child(4) {
        grid-column: 3 / 7;
        grid-row: 5 / 5;
    }
    
    .topico:nth-child(5) {
        grid-column: 8 / 12;
        grid-row: 5 / 5;
    }
    
    .topico:nth-child(6) {
        grid-column: 13 / 17;
        grid-row: 5 / 5;
    }
    
    .vantagens-img-wrapper {
        display: none;
    }

    .section-3 {
        height: auto;
    }

    .depoimento {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2rem;
        margin: auto;
        align-content: center;
    }

    .card {
        margin-top: 20px;
        width: 30%;
        max-width: 327.59px;
        min-width: 279px;
    }
}

@media (max-width: 1235px) {
    .container {
        display: flex;
        flex-direction: column;
        top: 25vh;
    }

    .banner {
        display: none;
    }

    .registre-se {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .section-2 {
        height: auto;
    }

    .vantagens-grid {
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(16, 3rem);
    }

    .topico:nth-child(1) {
        grid-column: 2 / 7;
        grid-row: 2 / 6;
    }
    
    .topico:nth-child(2) {
        grid-column: 9 / 14;
        grid-row: 2 / 6;
    }
    
    .topico:nth-child(3) {
        grid-column: 2 / 7;
        grid-row: 7 / 11;
    }
    
    .topico:nth-child(4) {
        grid-column: 9 / 14;
        grid-row: 7 / 11;
    }
    
    .topico:nth-child(5) {
        grid-column: 2 / 7;
        grid-row: 12 / 16;
    }
    
    .topico:nth-child(6) {
        grid-column: 9 / 14;
        grid-row: 12 / 16;
    }
}

@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .navl {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 45vw;
        height: 90vh;
        background: rgba(0, 0, 0, .9);
        border-left: 1px solid #54fAD0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 99;
    }
    .navl li {
        margin-left: 0;
        opacity: 0;
        justify-content: center;
    }
    .mobilem {
        display: block;
    }
}

@media (max-width: 590px) {
    .vantagens-grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(25, 3rem);
    }

    .topico:nth-child(1) {
        grid-column: 3 / 6;
        grid-row: 2 / 5;
    }
    
    .topico:nth-child(2) {
        grid-column: 3 / 6;
        grid-row: 6 / 9;
    }
    
    .topico:nth-child(3) {
        grid-column: 3 / 6;
        grid-row: 10 / 13;
    }
    
    .topico:nth-child(4) {
        grid-column: 3 / 6;
        grid-row: 14 / 17;
    }
    
    .topico:nth-child(5) {
        grid-column: 3 / 6;
        grid-row: 18 / 21;
    }
    
    .topico:nth-child(6) {
        grid-column: 3 / 6;
        grid-row: 22 / 25;
    }
}

@media (max-width: 520px) {
    .title h1 {
        font-size: 2em;
    }

    .topico:nth-child(1) {
        grid-column: 2 / 7;
        grid-row: 2 / 5;
    }
    
    .topico:nth-child(2) {
        grid-column: 2 / 7;
        grid-row: 6 / 9;
    }
    
    .topico:nth-child(3) {
        grid-column: 2 / 7;
        grid-row: 10 / 13;
    }
    
    .topico:nth-child(4) {
        grid-column: 2 / 7;
        grid-row: 14 / 17;
    }
    
    .topico:nth-child(5) {
        grid-column: 2 / 7;
        grid-row: 18 / 21;
    }
    
    .topico:nth-child(6) {
        grid-column: 2 / 7;
        grid-row: 22 / 25;
    }
}

@media (max-width: 470px) {
    .section-header h1 {
        font-size: 3em;
    }
}

@media (max-width: 375px) {
    .vantagens-grid {
        grid-template-rows: repeat(26, 3rem);
    }

    .topico:nth-child(1) {
        grid-column: 2 / 7;
        grid-row: 2 / 5;
    }
    
    .topico:nth-child(2) {
        grid-column: 2 / 7;
        grid-row: 6 / 9;
    }
    
    .topico:nth-child(3) {
        grid-column: 2 / 7;
        grid-row: 11 / 14;
    }
    
    .topico:nth-child(4) {
        grid-column: 2 / 7;
        grid-row: 15 / 18;
    }
    
    .topico:nth-child(5) {
        grid-column: 2 / 7;
        grid-row: 19 / 22;
    }
    
    .topico:nth-child(6) {
        grid-column: 2 / 7;
        grid-row: 23 / 26;
    }
}