@media (max-width: 1325px) {
    main {
        justify-content: unset;
    }

    .sidebar {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .containerChat {
        display: none;
    }

    .containerFeed {
        width: 70%;
    }

    .navChat {
        display: block;
    }
}

@media (max-width: 770px) {
    .postHeader {
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    .nav-link span {
        display: none;
    }

    .nav-link i {
        width: auto!important;
    }

    .nav-link {
        justify-content: center!important;
    }

    .newPostText {
        display: none;
    }

    .newPostIcon {
        display: block!important;
    }
}
